body {
    background-image: url("../img/bg.jpg");
    margin-top: 70px;
}

h3 {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

h4 {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

div.tuotteet {
    margin-top: 10px;
    text-align: center;
}

div.tilaus {
    text-align: left;
}

span.ostoskorinappi {
    font-size: medium;
}

div.ostoskori table {
    width: 100%;
}

div.ostoskori table td {
    padding: 10px;
}

tr.summa td {
    border-top: 1px solid #606067;
    font-weight: bold;
}

footer {
    text-align: center;
}

div.content {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #060607;
    box-shadow: 10px 10px 5px #060607;
    border-radius: 5px;
}

div.ostoskori {
    border: 1px solid #f0f0f0;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 20px;
    text-align: left;
}

div.ostoskori button {
    margin: 5px;
    padding: 5px;
}

div.tuote {
    margin-bottom: 10px;
}

button.osta {
    margin-top: 10px;
}





.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}

